body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    background-color: #212121;
    color: white;
}
main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.slot {
    border: solid #4E4E4E 4px;
    background-color: #171717;
    width: 43px;
    height: 43px;
    margin: 12.5px;
    cursor: pointer;
}
.slot.active {
    border: solid #CACACA 4px;
    background-color: #373737;
    border-radius: 8px;
}
.slot.special {
    border: solid #538FCA 4px;
    background-color: #142637;
    border-radius: 8px;
}
button {
    border: none;
    border-radius: 16px;
    cursor: pointer;
    width: 100px;
    height: 30px;
}
.clear {
    background-color: red;
    color: white;
    height: 17px;
    width: 60px;
}
.add {
    background-color: #187E18;
    color: #D1E505;
    margin: 20px 0px;
}
.add:hover {
    background-color: #00FF00AA;
}
.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.recipes {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.recipe {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.recipe:hover {
    background-color: #CACACA88;
}
.recipe > span {
    color: white;
    font-size: 36px;
    text-align: center;
}
.list {
    flex: 1;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.items {
    flex: 1;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
a {
    cursor: pointer;
}
.category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.category > a {
    color: gray;
    border-radius: 16px;
    margin: 5px 10px;
    padding: 5px 10px;
}
.category > a.active {
    color: white;
    border-radius: 16px;
    margin: 5px 10px;
    padding: 5px 10px;
}
.category > a:hover {
    background-color: #4E4E4E;
}
input {
    border: none;
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    margin-top: 4px;
    visibility: hidden;
    width: 250px;
    background-color: #00000088;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    white-space: pre-wrap;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }